<style>
    /*    .login-container {
            width: 35%;
            margin: auto;
            margin-top: 100px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
        }*/
    .login-container {
        width: 100%; /* Ancho máximo */
        max-width: 400px; /* Ancho fijo para pantallas más grandes */
        margin: auto;
        margin-bottom: 75px;
        margin-top: 76px; /* Reducción del margen superior para dispositivos móviles */
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        font-size: 16px; /* Tamaño de fuente ajustado para dispositivos móviles */
    }

        .login-container h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }

    label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

        button:hover {
            background-color: #45a049;
        }
</style>


<div class="login-container">
    <h1>Iniciar Sesión</h1>
    <form method="post" id="idLogin" action="/Home/VerificarAcceso" class="row g-3 needs-validation" novalidate>
        @Html.AntiForgeryToken()
        <div>
            <label for="validationCustom01" class="form-label">Username</label>
            <input type="text" id="validationCustom02" name="user" placeholder="Ingrese usuario o correo" class="form-control" required autocomplete="on">
            <div class="invalid-feedback">
                Por favor ingrese su usuario o correo.
            </div>
        </div>

        <div>
            <label for="validationCustom01" class="form-label">Password</label>
            <input type="password" id="validationCustom03" name="pass" placeholder="Ingrese su contraseña" class="form-control" required autocomplete="off">
            <div class="invalid-feedback">
                Por favor ingrese su contraseña.
            </div>
        </div>
        <button class="btn btn-dark" type="submit">Login</button>
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Mensaje"]
            </div>
        }
    </form>
    <br />
    <br />
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script>
    function encryptCredentials() {
        var user = document.getElementById('validationCustom02').value;
        var pass = document.getElementById('validationCustom03').value;

        var encryptedUser = CryptoJS.SHA256(user).toString();
        var encryptedPass = CryptoJS.SHA256(pass).toString();

        document.getElementById('validationCustom02').value = encryptedUser;
        document.getElementById('validationCustom03').value = encryptedPass;
    }

    document.getElementById('idLogin').addEventListener('submit', encryptCredentials);
</script>


<!-- ======= Footer ======= -->
<footer id="footer" class="mt-5">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>Maderera Carocho</h3>
                        <p>
                            MZA. 1-A LOTE. 3 <br>
                            Huanchaquito Alto<br><br>
                            <strong>Telefono:</strong> +51 941042325 - +51 956535390<br>
                            <strong>Correo:</strong> infomadereracarocho@gmail.com<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://twitter.com/" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="https://www.facebook.com/" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="https://www.instagram.com/" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Menu de opciones</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/Admin">Inicio</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/admin#about">Sobre</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/admin#services">Servicios</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/admin#portfolio">Portafolio</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/admin#team">Equipo</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Home/admin#contact">Contacto</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>¡Contáctanos!</h4>
                    <p>Deja tu correo electrónico y un asesor se pondrá en contacto contigo en un plazo máximo de 24 horas.</p>
                    <form action="" method="post">
                        @Html.AntiForgeryToken()
                        <input type="email" name="email" placeholder="Tu correo electrónico" required>
                        <input type="submit" value="Aceptar">
                    </form>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>MadereraCarocho</span></strong>. Todos los derechos reservados
            </div>
        </div>
    </div>
</footer><!-- End Footer -->
