@model BODEGA_SOLORZANO.Models.BoSolor.entTransacción
@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Registrar Transacción</h5>
@*             <form asp-action="Guardar" asp-controller="Transaccion" method="post">

                <!-- Código de Transacción -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Código de Transacción</span>
                    <input asp-for="CodTransaccion" class="form-control" placeholder="Ingrese el código de la transacción" aria-label="Código de Transacción" aria-describedby="basic-addon1">
                    <span asp-validation-for="CodTransaccion" class="text-danger"></span>
                </div>
                <!-- Tipo transaccion -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Tipo de Transacción</span>
                    <select asp-for="TipoTransaccion" class="form-select" aria-label="Tipo de Transacción" aria-describedby="basic-addon2">
                        <option value="Ventas">Venta</option>
                        <option value="Compras">Compra</option>
                        <option value="Pedidos">Pedido</option>
                    </select>
                    <span asp-validation-for="TipoTransaccion" class="text-danger"></span>
                </div>
                <!-- Monto Bruto -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Monto Bruto</span>
                    <input asp-for="MontoBruto" class="form-control" name="Monto" placeholder="Ingrese el monto bruto" aria-label="Monto Bruto" aria-describedby="basic-addon3">
                    <span asp-validation-for="MontoBruto" class="text-danger"></span>
                </div>

                <!-- Descuento -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Descuento</span>
                    <input asp-for="Descuento" class="form-control" name="descuento" placeholder="Ingrese el descuento(%)" aria-label="Descuento" aria-describedby="basic-addon4">
                    <span asp-validation-for="Descuento" class="text-danger"></span>
                </div>
                <!-- ID de Método de Cliente -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Cliente</span>
                    <select asp-for="IdPersona.IdCliente" name="Cliente" asp-items="@(new SelectList(ViewBag.Cliente, "IdCliente", "Nombres"))" class="form-select">
                        <option value="">Selecciona un Cliente</option>
                    </select>
                    <span asp-validation-for="IdPersona.IdCliente" class="text-danger"></span>
                </div>

                <!-- ID de Método de Pago -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Método de Pago</span>
                    <select asp-for="IdMetodo.IdMetodo" name="Metodo" asp-items="@(new SelectList(ViewBag.MetodosPago, "IdMetodo", "Nombre"))" class="form-select">
                        <option value="">Selecciona un método de pago</option>
                    </select>
                    <span asp-validation-for="IdMetodo.IdMetodo" class="text-danger"></span>
                </div>

                <br />
                <button type="submit" class="btn btn-primary">Registrar</button>
                <a asp-action="Listar" asp-controller="Transsacion" class="btn btn-success"><i class="bi bi-plus-circle"></i>Volver a la Lista</a>
            </form> *@
        </div>
    </div>
</div>
