@model BODEGA_SOLORZANO.Models.BoSolor.entTransacción
@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="card" style="max-width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Registrar Transacción</h5>
             <form asp-action="Guardar" asp-controller="Transaccion" method="post">

                <!-- Código de Transacción -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Código de Transacción</span>
                    <input asp-for="CodTransaccion" class="form-control" placeholder="Ingrese el código de la transacción" aria-label="Código de Transacción" aria-describedby="basic-addon1">
                    <span asp-validation-for="CodTransaccion" class="text-danger"></span>
                </div>
                <!-- Tipo transaccion -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">Tipo de Transacción</span>
                    <select asp-for="TipoTransaccion" class="form-select" aria-label="Tipo de Transacción" aria-describedby="basic-addon2">
                        <option value="Ventas">Venta</option>
                        <option value="Compras">Compra</option>
                        <option value="Pedidos">Pedido</option>
                    </select>
                    <span asp-validation-for="TipoTransaccion" class="text-danger"></span>
                </div>
                <!-- Monto Bruto -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Monto Bruto</span>
                    <input asp-for="MontoBruto" class="form-control" name="Monto" placeholder="Ingrese el monto bruto" aria-label="Monto Bruto" aria-describedby="basic-addon3">
                    <span asp-validation-for="MontoBruto" class="text-danger"></span>
                </div>

                <!-- Descuento -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon4">Descuento</span>
                    <input asp-for="Descuento" class="form-control" name="descuento" placeholder="Ingrese el descuento(%)" aria-label="Descuento" aria-describedby="basic-addon4">
                    <span asp-validation-for="Descuento" class="text-danger"></span>
                </div>
                <!-- ID de Método de Cliente -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Cliente</span>
                    <select asp-for="IdPersona.IdCliente" name="Cliente" asp-items="@(new SelectList(ViewBag.Cliente, "IdCliente", "Nombres"))" class="form-select">
                        <option value="">Selecciona un Cliente</option>
                    </select>
                    <span asp-validation-for="IdPersona.IdCliente" class="text-danger"></span>
                </div>

                <!-- ID de Método de Pago -->
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon9">Método de Pago</span>
                    <select asp-for="IdMetodo.IdMetodo" name="Metodo" asp-items="@(new SelectList(ViewBag.MetodosPago, "IdMetodo", "Nombre"))" class="form-select">
                        <option value="">Selecciona un método de pago</option>
                    </select>
                    <span asp-validation-for="IdMetodo.IdMetodo" class="text-danger"></span>
                </div>

                <br />
                <button type="submit" value="GuardarTransaccion" class="btn btn-primary">Registrar</button>
                <a asp-action="GuardarTransaccion" asp-controller="Transsacion" class="btn btn-success"><i class="bi bi-plus-circle"></i>Volver a la Lista</a>
            </form> 
        </div>
    </div>
</div>

<form asp-action="AgregarProducto">
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">Shop item template</h1>
                <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through">$45.00</span>
                    <span>$40.00</span>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                <div class="d-flex">
                    <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                    <button class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
@*         @foreach(var producto in lsDetalleProducto)
        {
            <div class="product-item">
                <h2>@producto.NombreProducto</h2>
                <p>@producto.Descripcion</p>
            </div>
        } *@
    </div>
</section>

<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Special Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$20.00</span>
                            $18.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Sale Item</h5>
                            <!-- Product price-->
                            <span class="text-muted text-decoration-line-through">$50.00</span>
                            $25.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Popular Item</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            $40.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="form-group">
        <input type="submit" value="AgregarProducto" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
